# Python
__pycache__/
*.py[cod]
*.pyc
.env
venv/
.venv/
*.db

# Node
node_modules/
.next/
out/
*.egg-info/

# PM2
ecosystem.config.js.bak

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
